<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>用户验证</title>
    </head>
    <body>
        <form action="/login" method="POST">
            <div>
                <label>名字:</label>
                <input type="text" name="name" />
            </div>
            <div>
                <label>密码:</label>
                <input type="text" name="passwd" />
            </div>
            <div>
                <input type="submit" name="Login" />
            </div>
        </form>
    </body>
</html>