<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>用户添加</title>
    </head>
    <body>
        <form action="/user/create/" method="POST">
            <div>
                <label>名称:</label>
                <input type="text" name="name" />
            </div>
            <div>
                <label>生日:</label>
                <input type="date" name="birthday" />
            </div>
            <div>
                <label>描述:</label>
                <input type="text" name="desc" />
            </div>
            <div>
                <label>地址:</label>
                <select name="addr">
                    <option value="河南">河南</option>
                    <option value="上海">上海</option>
                    <option value="北京">北京</option>
                    <option value="湖北">湖北</option>
                </select>
            </div>
            <div>
                <label>电话:</label>
                <input type="text" name="tel" />
            </div>
            <div>
                <input type="submit" name="添加" />
            </div>
        </form>
    </body>
</html>