<script type="text/javascript">
jQuery(document).ready(function() {
    var table = jQuery("#table").DataTable({
        dom:'<"row"<"col-6"l><"col-6"f>>',
        processing: true,
        serverSide: true,
        ajax: {
            url : "{{ urlfor `AgentController.List` }}",
            data: function(data) {
                return {
                    draw: data.draw,
                    start: data.start,
                    length: data.length,
                    q: data.search.value
                };
            },
            dataSrc: "result"
        },
        columns: [
            {
                data: function(row) {
                    console.log(row["is_online"])
                    if(row["is_online"]) {
                        prefix = '<i class="fa fa-circle text-success" aria-hidden="true"></i>'
                    } else {
                        prefix = '<i class="fa fa-circle text-danger" aria-hidden="true"></i>'
                    }
                    return prefix + htmlEncode(row['hostname']);
                }
            },
            {
                data: function(row) {
                    var text = '<a href="javascript:void(0);" popover="popover" data-content=":content:">:ip:</a>';
                    try {
                        var ipList = JSON.parse(row['ip']);
                        var ip = "";
                        var content = [];
                        jQuery.each(ipList, function(index, value) {
                            if (index == 0) {
                                ip = htmlEncode(value);
                            } else {
                                content.push(htmlEncode(value));
                            }
                        });
                        return text.replace(/:ip:/g, ip).replace(/:content:/g, content.join("<br/>"));
                    } catch(e) {
                        return "";
                    }
                //     var texts = '<a href="javascript:void(0);" popover="popover" data-html="true" data-content=":content:">:ip:</a>';
                //     var content = [];
                //     var ip_str = "";
                //     var data = htmlEncode(row['ip']).split("[")[1].split("]")[0].split(",");
                    
                //     if(data) {
                //         jQuery.each(data, function(index, value) {
                            
                //             if(index === 0) {
                //                 // console.log(htmlEncode(value).split("&amp")[1].split(";")[2])
                //                 ip_str = htmlEncode(value).split("&amp")[1].split(";")[2];

                //             } else {
                //                 d = value.split(";")[1].split("&")[0]
                //                 content.push(htmlEncode(d));   
                //                 // // d = value.split(";")[1].split("&")[0]
                //                 // content.push(htmlEncode(value));
                //             }
                //         })
                //     }
                //     // console.log(texts.replace(/:ip:/, ip_str).replace(/:content:/g, content.join("<br />")))
                //     return texts.replace(/:ip:/, ip_str).replace(/:content:/g, content.join("<br />"));
                }
            },
            {
                data: function(row) {
                    if(row['arch']) {
                        return htmlEncode(row['os']) + ' | ' + htmlEncode(row['arch']);
                    } else {
                        return htmlEncode(row['os']);
                    }
                    
                }
            },
            {
                data: function(row) {
                    return htmlEncode(row['cpu'] + "核");
                }
            },
            {
                data: function(row) {
                    
                    return parseFloat(htmlEncode(row['ram']/1024)).toFixed(2) + "GB";
                }
            },
            {
                data: function(row) {
                    var text = '<a href="javascript:void(0);" popover="popover" data-content=":content:">:disk:</a>';
                    try {
                        var diskObject = JSON.parse(row['disk']);
                        var disk = "";
                        var content = [];
                        var index = 0;
                        jQuery.each(diskObject, function(key, value) {
                            if (index == 0) {
                                disk = htmlEncode(key + " " + value + "GB");
                            } else {
                                content.push(htmlEncode(key + "" + value + "GB"));
                            }
                            index++;
                        });
                        return text.replace(/:disk:/g, disk).replace(/:content:/g, content.join("<br/>"));
                    } catch(e) {
                        return "";
                    }

                //     var texts = '<a href="javascript:void(0);" popover="popover" data-html="true" data-content=":content:">:disk_str:</a>';
                //     var disks = htmlEncode(row['disk']).split("{")[1].split("}")[0].split(",")
                //     var content = [];
                //     var disk_str = "";

                //     if(disks) {
                //         var index = 0
                //         jQuery.each(disks, function(_, value) {
                //             var key = value.split(";")[1].split(":")[0]
                //             value_str = value.split(";")[2].split(":")[1];
                //             var text = ':name:(:value:GB)'.replace(/:name:/g, key).replace(/:value:/g, parseFloat(value_str).toFixed(2));
                //             if(index === 0) {
                //                 disk_str = htmlEncode(text);
                //             } else {
                //                 content.push(htmlEncode(text));
                //             }
                //             index++;
                            
                //         })
                //     }
                //     return texts.replace(/:disk_str:/, disk_str).replace(/:content:/g, content.join("<br />"));
                }
            },
            {
                data: function(row) {
                    if(row['boottime']) {
                        return htmlEncode(jQuery.formatDateTime("yy-mm-dd hh:ii:ss", new Date(row['boottime'])));
                    };
                    return htmlEncode('');
                    // return htmlEncode(row['created_time']);
                }
            },
            {
                data: function(row) {
                    if(row['heartbeat_time']) {
                        return htmlEncode(jQuery.formatDateTime("yy-mm-dd hh:ii:ss", new Date(row['heartbeat_time'])));
                    };
                    return htmlEncode('');
                    // return htmlEncode(row['created_time']);
                }
            },
            {
                data: function(row) {
                    if(row['created_time']) {
                        return htmlEncode(jQuery.formatDateTime("yy-mm-dd hh:ii:ss", new Date(row['created_time'])));
                    };
                    return htmlEncode('');
                    // return htmlEncode(row['created_time']);
                }
            },
            {
                data: function(row) {
                    return htmlEncode(row['remark']);
                }
            },
            {
                data: function(row) {
                    var buttons = ['<div class="btn-group" role="group">'];
                    buttons.push('<button class="btn btn-sm btn-info btn-monitor">监控</div>');
                    buttons.push('<button class="btn btn-sm btn-warning btn-open-dialog" data-title="编辑" data-url="{{ urlfor `AgentController.Modify` }}?pk=:pk:">编辑</div>')
                    buttons.push('<button class="btn btn-sm btn-danger btn-control"  data-title="确定删除?" data-url="{{ urlfor `AgentController.Delete` }}" data-pk=":pk:" data-callback="reload_table">删除</div>');
                    buttons.push('</div>');
                    return buttons.join("").replace(/:pk:/g, row['id']).replace(/:uuid:/, row["uuid"]);
                }
            }
        ]
    });
    

    table.on("draw", function() {
        if(!jQuery("#buttons").attr("initd")) {
            jQuery("#buttons").attr("initd", "initd").html('');
        }
        // if(!jQuery("#buttons").attr("initd")) {
        //     jQuery("#buttons").atte("initd", "initd").html('');
        // }
        jQuery('[popover]').popover({
            trigger: 'hover',
            html: true,
        });
    });

    window["reload_table"] = function(response) {
        table.ajax.reload(null, false);
    };

    setInterval(function() {
        table.ajax.reload(null, false);
    }, 10 * 1000);
    
    var chart = echarts.init(document.getElementById("monitor-chart"));
    var option = {
        title: {
            text: 'CPU/内存使用率',
            show: false
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                label: {
                    backgroundColor: '#6a7985'
                }
            },
            formatter: function(params) {
                return params[0].name  + "<br/>" +
                params[0].seriesName + ":" + params[0].data + "%" + "<br/>" +
                params[1].seriesName + ":" + params[1].data + "%";
            }
        },
        legend: {
            data:['CPU','内存']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis : [
            {
                type : 'category',
                boundaryGap : false,
                data : ['周一','周二','周三','周四','周五','周六','周日']
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        series : [
            {
                name:'CPU',
                type:'line',
                // data: [],
                data:[120, 132, 101, 134, 90, 230, 210],
                smooth: true
            },
            {
                name:'内存',
                type:'line',
                // data:[],
                data:[120, 132, 111, 134, 90, 230, 210],
                smooth: true
            }
        ]
    };

    function reload() {
        chart.setOption(option)
    }

    jQuery("table").on("click", "button.btn-monitor", function() {
        reload();
        jQuery(".monitor-dialog").modal({
            show: true,
            backdrop: "static",
            keyboard: false
        });
    });
});
</script>