<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>任务创建</title>
    </head>
    <body>
        <form action="/tasks/create/" method="POST">
            <div>
                <label>任务名称</label>
                <input type="text" name="name" />
            </div>
            <div>
                <label>执行者</label>
                <input type="text" name="user" />
            </div>
            <div>
                <label>描述</label>
                <input type="text" name="desc" />
            </div>
            <div>
                <input type="submit" value="提交"/>
            </div>
        </form>
    </body>
</html>