<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Todolist</title>
    </head>
    <body>
        <form action="/register/" method="POST">
            <div>
                <label>用户名</label>
                <input name="name" type="text"/>
            </div>
            <div>
                <label>密码</label>
                <input name="password" type="password"/>
            </div>
            <div>
                <label>电话</label>
                <input name="tel" type="text"/>
            </div>
            <div>
                <label>地址</label>
                <input name="addr" type="text"/>
            </div>
            <div>
                <label>描述</label>
                <input name="desc" type="text"/>
            </div>
            <span>
                <input name="login" type="submit" value="登录"/>
                <input name="register" type="submit" value="注册"/>
            </span>
        </form>
    </body>
</html>