/*
    selector {
        attrname: value
    }
    标签选择器
    ID选择器
    #id {}

    class选择器
    .class {}

    属性选择器
    [attrname]
    子选择器/子孙选择器
    > 子选择器
    [空格] 子孙选择器
*/
div {
    background-color: gray;
    color: red;
}

#myname {
    font-size: 50px;
}

.addr {
    background-color: aqua;
}

[link] {
    color:green;
}

[title=Baidu] {
    color: blue;
}


div  < .addr {
    color:seagreen;
}